@import './normalize.css';
@import './fonts.css';
@import './vars.css';

.app-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  max-width: var(--container-max-width);
}

.mobile-only {
  display: none !important;
}

button, .btn {
  background-color: var(--bg-color-btn);
  border-width: 0;
  color: var(--color-btn);
  cursor: pointer;
  padding: 10px 20px;
}

button.primary, .btn.primary {
  background-color: var(--bg-color-btn-primary);
}

button.secondary, .btn.secondary {
  background-color: var(--bg-color-btn-secondary);
}

.hidden {
  display: none;
}



header#header {
  height: var(--navbar-height);
}

nav#nav {
  position: fixed;

  height: var(--navbar-height);
  width: 100%;

  background-color: var(--bg-color-nav);
  color: var(--color-nav);
}

nav#nav .container {
  display: flex;
  justify-content: space-between;
}

nav#nav .nav-options {
  display: flex;
}

nav#nav a {
  color: white;
  text-decoration: none;
}

nav#nav a.nav-button {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;

  background-color: var(--bg-color-button-nav);
}

nav#nav a.nav-button:hover {
  background-color: var(--bg-color-button-nav-hover);
}



main#main {
  background-color: var(--bg-color-main);
}

main#main .container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: stretch;

  margin: 20px auto;
  height: auto;

  gap: 20px;
}

main#main .subcontainer {
  flex: 1 1 0;

  padding: 30px;
  background-color: var(--bg-color-main-content);
}

main#main .subcontainer.split {
  padding: 0;
  background-color: transparent;

  display: grid;
  grid-template-columns: 350px auto;

  gap: 20px;
}

@media only screen and (max-width: 700px) {
  main#main .subcontainer.split {
    padding: 0;
    background-color: transparent;
  
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  
    gap: 20px;
  }
}



footer#footer {
  height: var(--footer-height);
  width: 100%;

  background-color: var(--bg-color-footer);
  color: var(--color-footer);
}

footer#footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}



form.wide-search-form {
  display: grid;
  grid-template-columns: minmax(150px, 4fr) minmax(120px, 1fr);
  gap: 10px;
  width: 100%;
}

form.wide-search-form input {
  /* border: 2px solid rgb(158, 158, 158); */
  border-width: 0;
  background-color: #eeeeee;
}

form.wide-search-form input:focus {
  background-color: #e6e6e6;
}

form.wide-search-form input[type=search] {
  padding: 10px;
  height: 50px;
  min-width: 0;
}

form.wide-search-form button {
  
}




.centralized {
  margin: 0 auto;
}


.profile-data. .profile-repos {
  word-wrap: break-word;
}

.profile-data {
  display: flex;
  flex-direction: column;

  gap: 10px;
  padding: 20px;

  background-color: var(--bg-color-main-content);
}

.profile-data header.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-data header.profile-header .profile-picture {
  width: 120px;
  height: auto;
  border-radius: 50%;

  margin-bottom: 10px;
}

.profile-data header.profile-header .username {
  display: flex;
  align-items: end;

  font-size: 32px;
  font-weight: bold;
}

.profile-data header.profile-header .user-type {
  display: flex;
  align-items: start;

  font-size: 24px;
}


.profile-repos {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.profile-repos .profile-repo {
  padding: 20px;
}

.profile-repos .profile-repo:nth-child(even) {
  background-color: var(--bg-color-main-content-secondary);
}

.profile-repos .profile-repo:nth-child(odd) {
  background-color: var(--bg-color-main-content);
}

.profile-repos .profile-repo .repo-title {
  font-weight: bold;
  font-size: 28px;
  margin: 20px 0;
}


.profile-items {
  display: flex;
  flex-direction: column;
  gap: 5px;  
}

.profile-item {
  margin: 10px 0;
}

.profile-item.name-value-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-item.name-value-item .item-name {
  font-weight: bold;
}