:root {
    --bg-color-nav: #151515;
    --color-nav: #fff;
    --bg-color-button-nav: #151515;
    --bg-color-button-nav-hover: #1a1a1a;

    --bg-color-footer: #151515;
    --color-footer: #fff;

    --bg-color-main: rgb(240, 240, 240);
    --bg-color-main-content: rgb(252, 252, 252);
    --bg-color-main-content-secondary: rgb(244, 244, 244);


    --bg-color-btn: #b24968;
    --bg-color-btn-primary: #6c3779;
    --bg-color-btn-secondary: #6c5fa7;
    --color-btn: white;

    /* #fa8572 */


    --container-max-width: 1000px;
    --navbar-height: 80px;
    --navbar-button-mobile-height: 80px;
    --footer-height: 100px;
}